{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car counter</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
{% if entries %}
    <table class="table">
        <tr>
            <th>id</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Max height</th>
            <th>Time received</th>
        </tr>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.start_time|date:"H:i:s d.m" }}</td>
                <td>{{ entry.end_time|date:"H:i:s d.m" }}</td>
                <td>{{ entry.max_height}} cm</td>
                <td>{{ entry.time_received|date:"H:i:s d.m" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>