<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Google Maps Yarval trees</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script src="script.js"></script> -->
  </head>
  <body>
  	<style type="text/css">
  		/* Always set the map height explicitly to define the size of the div
		 * element that contains the map. */
		#map {
		  height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
		  height: 100%;
		  margin: 0;
		  padding: 0;
		}
  	</style>
  	<div><button onclick="saveData()">Save</button></div>
  	<div id="map"></div>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3Rkj7-bg8lCozVOsH_ZBrVHbfvSKohWk&callback=initMap">
	</script>
	<script type="text/javascript">
		var trees_global = [];

		function initMap() {
  			// Create the map.
		var client = new XMLHttpRequest();
		client.open('GET', '/trees_json');
		client.onreadystatechange = function() {
 			var plainTreesCoo = client.responseText;
            console.log(plainTreesCoo);
    		var treesCoo = JSON.parse(plainTreesCoo)

    		var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 16, 
			    center: {lat: 50.450779, lng: 30.510317},
			    mapTypeId: 'terrain'
			});

    		console.log(treesCoo)
			for (var i=0; i<treesCoo.length; i++){
				tree = treesCoo[i];
				// console.log(tree);
				trees_global[i] = new google.maps.Circle({
				      strokeColor: '#00FF00',
				      strokeOpacity: 0.8,
				      strokeWeight: 2,
				      fillColor: '#00FF00',
				      fillOpacity: 0.35,
				      map: map,
				      center: {lat: tree['lat'], lng: tree['lon']},
				      radius: tree['radius'],
				      draggable: true,
				});
				console.log(trees_global[i].getCenter().lat())
			}
		}
		client.send();
	}

	function saveData(){
		// trees_global[1000].setRadius(100)
		// console.log(trees_global[1000].getCenter().lat() + " " + trees_global[1000].getCenter().lng() )

		var json_trees_export = "["
		for (var i = 0; i < trees_global.length; i++) {
			json_trees_export += ('{"lat": ' + trees_global[i].getCenter().lat() + ', "lon": ' + trees_global[i].getCenter().lng() + ', "radius": ' + trees_global[i].getRadius() + '}, ')
		}
		json_trees_export += "]"
		console.log(json_trees_export)
		// var url = 'data:text/json;charset=utf8,' + JSON.stringify(json_trees_export);
		// window.open(url, '_blank');
		// window.focus()

		function download(text, name, type) {
		    var a = document.createElement("a");
		    var file = new Blob([text], {type: type});
		    a.href = URL.createObjectURL(file);
		    a.download = name;
		    a.click();
		}
		download(json_trees_export, 'test.json', 'text/plain');

	}
	</script>
  </body>
</html>