<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaflet example</title>

    <script>L_PREFER_CANVAS = true;</script>
    <link rel="stylesheet" href="{% static "leaflet.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}"/>
    <script src="{% static "leaflet.js" %}"></script>
    <script src="{% static "Chart.bundle.js" %}"></script>
</head>
<body>
<style type="text/css">
    #mapid {
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div class="container" id="switchContainer">
</div>

<div class="container-fluid" style="height: 100%;">

    <div class="col-md-5">

        <p>Pie:</p>
        <div style="width: 400px; height: 300px;">
            <canvas id="piechart" width="400" height="300"></canvas>
        </div>
        <p>Bar:</p>
        <div style="width: 400px; height: 300px;">
            <canvas id="barchart" width="400" height="300"></canvas>
        </div>
        <p>Horizontal bar:</p>
        <div style="width: 400px; height: 300px;">
            <canvas id="hbarchart" width="400" height="300"></canvas>
        </div>
        <div id="stats">
            <p id="p_houses_area"></p>
            <p id="p_roads_area"></p>
            <p id="p_yards_area"></p>
            <p id="p_first_floor_area"></p>
        </div>

    </div>

    <div id="mapid" class="col-md-7"></div>

</div>
<script src="{% static "script.js" %}"></script>

</body>
</html>