<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaflet example</title>

    <script>L_PREFER_CANVAS = true;</script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
</head>
<body>
<style type="text/css">
    #mapid {
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div id="mapid"></div>

<script>

    // set up the map
    map = new L.Map('mapid', {
        renderer: L.canvas()
    });

    // create the tile layer with correct attribution
    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 20, attribution: osmAttrib});
    //    map.addLayer(osm);

    var OpenMapSurfer_Grayscale = L.tileLayer('http://korona.geog.uni-heidelberg.de/tiles/roadsg/x={x}&y={y}&z={z}', {
        maxZoom: 19,
        attribution: 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });

    map.setView(new L.LatLng(50.450779, 30.510317), 16);
    //    map.addLayer(OpenMapSurfer_Grayscale);


    var yard_layer = L.layerGroup([]);
    var trees_layer = L.layerGroup([]);
    var cars_layer = L.layerGroup([]);
    var houses_layer = L.layerGroup([]);
    var roads_layer = L.layerGroup([]);
    var bottom_layer = L.layerGroup([]);
    var layers = [yard_layer, cars_layer, trees_layer]; // from bottom to top


    // trees block start
    var client_trees = new XMLHttpRequest();
    client_trees.open('GET', '/trees_json');
    client_trees.onreadystatechange = function () {
        var plainTreesCoo = client_trees.responseText;
        var treesCoo = JSON.parse(plainTreesCoo);

        for (var i = 0; i < treesCoo.length; i++) {
            tree = treesCoo[i];
            current_tree = L.circle([tree['lat'], tree['lon']], {
                radius: tree['radius'],
                color: '#91C497',
                weight: 1,
                opacity: 0.8,
                fillColor: '#91C497',
                fillOpacity: 0.8,
                zIndex: 200
            });
            trees_layer.addLayer(current_tree)
        }
//        trees_layer.addTo(map);
        redraw_all_layers()
    };
    client_trees.send();
    // trees block end

    // cars block start
    var client_cars = new XMLHttpRequest();
    client_cars.open('GET', '/cars_json');
    client_cars.onreadystatechange = function () {

        var plainCarsCoo = client_cars.responseText;
        var carsCoo = JSON.parse(plainCarsCoo);

        for (var i = 0; i < carsCoo.length; i++) {
            var carCoords = [
                [carsCoo[i]['a']['lat'], carsCoo[i]['a']['lon']],
                [carsCoo[i]['b']['lat'], carsCoo[i]['b']['lon']],
                [carsCoo[i]['c']['lat'], carsCoo[i]['c']['lon']],
                [carsCoo[i]['d']['lat'], carsCoo[i]['d']['lon']],
            ];

            current_car = L.polygon(carCoords, {
                color: '#242424',
                opacity: 1,
                weight: 1,
                fillColor: '#242424',
                fillOpacity: 1,
                smoothFactor: 1,
                zIndex: 200
            });
            cars_layer.addLayer(current_car)
        }
        cars_layer.addTo(map);
        redraw_all_layers()
    };
    client_cars.send();
    // cars block end

    // houses block start
    var client_houses = new XMLHttpRequest();
    client_houses.open('GET', '/houses_json');
    client_houses.onreadystatechange = function () {
        var houseplain = client_houses.responseText;
        var houses = JSON.parse(houseplain);
        for (var i = 0; i < houses.length; i++) {
            houseCoos = [];
            for (var j = 0; j < houses[i].length; j++) {
                houseCoos[j] = [houses[i][j]['lat'], houses[i][j]['lng']]
            }

            current_house = L.polygon(houseCoos, {
                color: '#AAB3BE',
                opacity: 1,
                weight: 1,
                fillColor: '#C9CFD2',
                fillOpacity: 0.8,
                smoothFactor: 1
            });
            houses_layer.addLayer(current_house);
            bottom_layer.addLayer(current_house);
        }
        houses_layer.addTo(map);
        redraw_all_layers()

    };
    client_houses.send();
    // houses block end

    // roads block start
    var client_roads = new XMLHttpRequest();
    client_roads.open('GET', '/roads_json');
    client_roads.onreadystatechange = function () {
        var roadsplain = client_roads.responseText;
        var roads = JSON.parse(roadsplain);
        for (var i = 0; i < roads.length; i++) {
            roadCoos = [];
            for (var j = 0; j < roads[i].length; j++) {
                roadCoos[j] = [roads[i][j]['lat'], roads[i][j]['lng']]
            }
            current_road = L.polygon(roadCoos, {
                color: '#AAB3BE',
                opacity: 0,
                weight: 0,
                fillColor: '#6D6D6D',
                fillOpacity: 1,
                smoothFactor: 1,
            });
            roads_layer.addLayer(current_road);
            bottom_layer.addLayer(current_road);
        }
        roads_layer.addTo(map);
        redraw_all_layers()
    };
    client_roads.send();
    // roads block end

    // yards block start

    yard_colors = ["#fcde60", "#898989", "#666666"];

    var client_yards = new XMLHttpRequest();
    client_yards.open('GET', '/yards_json');
    client_yards.onreadystatechange = function () {
        var yardsplain = client_yards.responseText;
        var yards = JSON.parse(yardsplain);
        for (var i=0; i<yards.length; i++){
            yard_type = yards[i][0];
            yardCoos = [];
            for (var j=0; j<yards[i][1].length; j++){
                yardCoos[j] = [yards[i][1][j]['lat'], yards[i][1][j]['lng']]
            }
            current_yard = L.polygon(yardCoos, {
                color: yard_colors[yard_type],
                opacity: 1,
                weight: 1,
                fillColor: yard_colors[yard_type],
                fillOpacity: 0.8,
                smoothFactor: 1
            });
            yard_layer.addLayer(current_yard)
        }
        yard_layer.addTo(map);
        redraw_all_layers();

    };
    client_yards.send();
    // yards block end


    function redraw_all_layers() {
        for (var i = 0; i < layers.length; i++) {
            if (layers[i]) {
                layers[i].eachLayer(function (layer) {
                    layer.bringToFront()
                })
            }
        }
    }

    bottom_layer.addTo(map);


    var baseMaps = {
        "bottom_layer": bottom_layer,
//        "grayscale": OpenMapSurfer_Grayscale
    };
    var overlayMaps = {
        "Trees": trees_layer,
        "Cars": cars_layer,
        "Yards": yard_layer
    };

    L.control.layers(baseMaps, overlayMaps).addTo(map)


</script>

</body>
</html>