<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaflet example</title>

    <script>L_PREFER_CANVAS = true;</script>
    <link rel="stylesheet" href="{% static "leaflet.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}"/>
    <script src="{% static "leaflet.js" %}"></script>
    <script src="{% static "Chart.bundle.js" %}"></script>
</head>
<body>
<style type="text/css">
    #mapid {
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div class="container" style="height: 100%;">

    <div class="col-md-3">
        <div><label><input type="checkbox" id="tree_switch"> Toggle trees</label></div>
        <div><label><input type="checkbox" id="cars_switch"> Toggle cars</label></div>
        <div><label><input type="checkbox" id="cars_day_switch"> Toggle cars(day)</label></div>
        <div><label><input type="checkbox" id="cars_night_switch"> Toggle cars(night)</label></div>
        <div><label><input type="checkbox" id="yards_switch"> Toggle yards</label></div>
        <div><label><input type="checkbox" id="first_floor_switch"> Toggle first floor function</label></div>
{#        <div><label><input type="checkbox" id="only_cafes"> Show only cafes</label></div>#}
        <div id="stats">
            <p id="p_houses_area"></p>
            <p id="p_roads_area"></p>
            <p id="p_yards_area"></p>
            <p id="p_first_floor_area"></p>
        </div>
        <div>
            <canvas id="piechart" width="200", height="200"></canvas>
        </div>


    </div>

    <div id="mapid" class="col-md-9"></div>

</div>
<script src="{% static "script.js" %}"></script>

</body>
</html>