<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Sensor data</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dc.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>

<div class="container">

    <div class="row">
        <p>Noise refresh period (ms): {{ config.noise_refresh_ms }}</p>
        <p>Smoke refresh period (ms): {{ config.smoke_refresh_ms }}</p>
        <p>CO2 refresh period (s): {{ config.co2_refresh_s }}</p>
        <p>Upload refresh period (s): {{ config.upload_refresh_s }}</p>
        <p>Records loaded: <span id="datasetSize"></span></p>
        <button onclick="loadData()">Refresh data</button>
    </div>

    <div class="row">
        <table id="sensor-table" class='table table-hover'>
            <thead>
            <tr class="header">
                <th>Time</th>
                <th>CO2(ppm)</th>
                <th>Noise</th>
                <th>Smoke(mg/m3)</th>
                <th>Bat</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="row">
        <h4>CO2 chart</h4>
        <div id="CO2_chart"></div>
    </div>
    <div class="row">
        <h4>Noise chart</h4>
        <div id="noise_chart"></div>
    </div>
    <div class="row">
        <h4>Smoke chart</h4>
        <div id="smoke_chart"></div>
    </div>


</div>


<script type="text/javascript" src="{% static "js/d3.js" %}"></script>
<script type="text/javascript" src="{% static "js/crossfilter.js" %}"></script>
<script type="text/javascript" src="{% static "js/dc.js" %}"></script>
<script>

    function loadData() {

        d3.json("/sensor_json", function (error, response) {
            var dataset = response['result'];
            var prevco2 = 0;
            for (var i in dataset) {
                var row = dataset[i];
                if (row.data.CO2 === 0) {
                    row.data.CO2 = prevco2;
                }
                else {
                    prevco2 = row.data.CO2
                }
            }

            $('#datasetSize').html(dataset.length);
            var ndx = crossfilter(dataset),
                CO2dimension = ndx.dimension(function (d) {
                    return d.data.CO2;
                }),
                noiseDimension = ndx.dimension(function (d) {
                    return d.data.noise;
                }),
                smokeDimension = ndx.dimension(function (d) {
                    return d.data.smoke;
                }),
                timeDimension = ndx.dimension(function (d) {
                    return new Date(d.time);
                }),
                countCO2OnTime = timeDimension.group().reduceSum(function (d) {
                    return d.data.CO2;
                }),
                countSmokeOnTime = timeDimension.group().reduceSum(function (d) {
                    return d.data.smoke;
                }),
                countNoiseOnTime = timeDimension.group().reduceSum(function (d) {
                    return d.data.noise;
                });

            var startDate = d3.min(dataset, function (d) {
                return new Date(d.time);
            });

            CO2dimension.top(1)[0].data.CO2;
            CO2dimension.bottom(1)[0].data.CO2;

            var CO2chart = dc.lineChart('#CO2_chart');
            CO2chart
                .width(600)
                .height(200)
                .x(d3.time.scale().domain([startDate, new Date()]))
                .round(d3.time.minutes.round)
                .xUnits(d3.time.minutes)
                .y(d3.scale.linear().domain([CO2dimension.bottom(1)[0].data.CO2, CO2dimension.top(1)[0].data.CO2]))
                {#                .elasticY(true)#}
                .margins({left: 80, top: 40, right: 10, bottom: 20})
                .dimension(timeDimension)
                .group(countCO2OnTime)
                .renderLabel(false)
                .renderArea(false)
                .brushOn(false)
                .clipPadding(20)
                .mouseZoomable(true)
                .defined(function (d) {
                    return !isNaN(d.y);
                })
            ;

            CO2chart.legend(dc.legend());

            CO2chart.render();

            var noiseChart = dc.lineChart('#noise_chart');
            noiseChart
                .width(600)
                .height(200)
                .x(d3.time.scale().domain([startDate, new Date()]))
                .round(d3.time.minutes.round)
                .xUnits(d3.time.minutes)
                .elasticY(true)
                .margins({left: 80, top: 40, right: 10, bottom: 20})
                .dimension(timeDimension)
                .group(countNoiseOnTime)
                .renderLabel(false)
                .renderArea(true)
                .brushOn(true)
                .clipPadding(20)
                .mouseZoomable(true);

            noiseChart.legend(dc.legend());

            noiseChart.render();

            var smokeChart = dc.lineChart('#smoke_chart');
            smokeChart
                .width(600)
                .height(200)
                .x(d3.time.scale().domain([startDate, new Date()]))
                .round(d3.time.minutes.round)
                .elasticY(true)
                .xUnits(d3.time.minutes)
                .margins({left: 80, top: 40, right: 10, bottom: 20})
                .dimension(timeDimension)
                .group(countSmokeOnTime)
                .renderLabel(false)
                .renderArea(true)
                .brushOn(true)
                .clipPadding(20)
                .mouseZoomable(true);

            smokeChart.legend(dc.legend());

            smokeChart.render();

            var dataTable = dc.dataTable("#sensor-table");

            dataTable.width(960).height(800)
                .dimension(timeDimension)
                .group(function (d) {
                    return 'All measuring according to filters'
                })
                .size(10)
                .columns([
                    function (d) {
                        var monthNameFormat = d3.time.format("%a %b %e %H:%M:%S");
                        return monthNameFormat(new Date(d.time))
                    },
                    function (d) {
                        return d.data.CO2
                    },
                    function (d) {
                        return d.data.noise
                    },
                    function (d) {
                        return d.data.smoke
                    },
                    function (d) {
                        return d.data.bat
                    }
                ])
                .sortBy(function (d) {
                    return d.time
                })
                .order(d3.descending);

            dataTable.render();

        })
    }

    loadData();

</script>
</body>
</html>